@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Slider thumb estilo Spotify centrado verticalmente */
input.slider-thumb-green {
  -webkit-appearance: none; /* quitar estilo nativo */
  appearance: none;
  width: 100%;
  height: 8px; /* altura del track */
  background: #3a3a3a; /* color del track */
  border-radius: 4px;
  cursor: pointer;
}

/* Chrome / Safari thumb */
input.slider-thumb-green::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #1ed760; /* verde Spotify */
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-top: -4px; /* = -(thumbHeight - trackHeight)/2 */
}

/* Firefox thumb */
input.slider-thumb-green::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #1ed760;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

/* Track para Firefox */
input.slider-thumb-green::-moz-range-track {
  height: 8px;
  background: #3a3a3a;
  border-radius: 4px;
}
